@import "~antd/dist/antd.css";

#root,
#root > section {
  margin: 0;
  padding: 0;
}

.logo {
  height: 32px;
  line-height: 32px;
  margin: 16px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}